/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Colores */
:root {

  --color-blanco: #fff;
}
#bod{
	background: #243b55;
}
#bg{
	background-color:rgba(0,0,250,0.4);
}
/* Estilos del header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  margin-bottom:10px;
background-color: rgba(0,0,0,0.3);
  color: var(--color-blanco);
}
.logo a{
	text-decoration: none;
	color: var(--color-blanco);
}
.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  margin-left: 10px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
}

.links table {
  border-collapse: collapse;
}

.links td {
  padding: 10px;
 
}

.links td a {
  text-decoration: none;
  color: var(--color-blanco);
  font-weight: 500;
  transition: color 0.2s ease;
}

.links td a:hover {
  color: var(--color-blanco);
}
/*FOOTER*/

footer {
  color: var(--color-blanco);
  padding: 40px 0;  
  background-color: rgba(0,0,0,0.4);
 margin-top:auto;
	padding-top: 30px;
	padding-left: 60px;
  
}
.container{
	
	  display: flex;
  justify-content: center;
  align-content: center;
}
#active{

}
footer h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

footer table {
  margin: 0;
  padding: 0;
}

footer td {
  padding: 5px 0;
}

footer img {
  margin-right: 10px;
}
footer .row {
  display:flex;
  justify-content: center;
  align-items: center;
}
footer .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 33.33333%;
  padding: 0 20px;
}

footer .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color:black;
  color: var(--color-blanco);
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
}

footer .btn:hover {
  background-color: grey;
}
#cont{
	margin-bottom: 10px;
}
html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
/*LOGIN*/
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
#botonesLogin{
	display:flex;
	gap:10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

#btnLogin{
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  background:transparent;
  border: 0px;
  border-radius: 10px;
}

#btnLogin:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px #03e9f4, 0 0 4px #03e9f4, 0 0 9px #03e9f4;
}


#Extra{
	padding-left: 25%;
	padding-right: 25%;
}


.register-box{
  position: absolute;
  top: 59%;
  left: 50%;
  width: 400px;
  padding: 40px;
  padding-top:20px;
  padding-bottom:20px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;	
}

.register-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register-box .user-box {
  position: relative;
}

.register-box .user-box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.register-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.register-box .user-box input:focus ~ label,
.register-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}



/*EVENTOS*/
.nuevoEvento{
	display: flex;
	flex-direction: row;
	gap:20px;
	padding: 15px;
	align-items: flex-start;
	transition:all 400ms ease;
}
.nuevoEvento div{
	width: 60%
}
.nuevoEvento div p{
	width:90%;
	text-align: justify;
	overflow-wrap: break-word; 
}
.nuevoEvento img{
	width: 30%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nuevoEvento:hover{
	background-color: rgba(0,0,0,0.4);
}


.contenidoPag{
	display: flex;
	flex-direction: row;
	gap: 30px;
}

/*TABLAS*/
.aside-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-75%);
  width: 300px;
  padding: 20px;
  background-color: #243b55;
  color: #fff;
  font-family: Arial, sans-serif;
}

aside {
  margin-top: 20px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

aside ul li a:hover {
  color: #ffd700;
}

aside ul li a:before {
  content: "\2022"; /* Agrega un punto antes de cada enlace */
  display: inline-block;
  margin-right: 5px;
}

.centro{
	text-align: center;
}

.tablaPostulantes {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 10px;
}

.tablaPostulantes th {
    background-color: #7892b0;
    color: black;
}

.tablaPostulantes td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    color:#000;
}

.tablaPostulantes td:first-child {
    background-color: #c3d9ff;
}
.tablaPostulantes td:nth-last-child(2),
.tablaPostulantes td:nth-last-child(1) {
    transition: background-color 200ms;
}

.tablaPostulantes td:nth-last-child(2):hover,
.tablaPostulantes td:nth-last-child(1):hover {
    background-color: #00ff00; /* Verde */
}

.tablaPostulantes td:nth-last-child(1):hover {
    background-color: #ff0000; /* Rojo */
}

.tablaPostulantes td a {
    text-decoration: none;
    color: inherit;
}
/*CSS FORM*/
.otroForm {
  color: #fff;
  width: 75%;
  margin: 0 auto;
  margin-left: 0px;
}

.editEv {
  width: 100%;
  border-collapse: collapse;
}

.editEv td {
  padding: 10px;
}

.editEv td:first-child {
  font-weight: bold;
}

.editEv input[type="text"],
.editEv select {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #f1f1f1;
  color: #000000;
}

.editEv input[type="file"] {
  border: none;
  background-color: transparent;
  color: #000000;
}

.editEv img {
  width: 50px;
}

.otroForm input[type="submit"] {
  padding: 10px 20px;
  background-color: #7892b0;
  border: none;
  color: #fff;
  cursor: pointer;
}

.otroForm input[type="submit"]:hover {
  background-color: #5c7996;
}

/*AGREGAR EVENTO*/
.addEv {
  color: #fff;
  width: 75%;
  margin: 0 auto;
  margin-left: 0px;
}

.addEv table {
  width: 100%;
  border-collapse: collapse;
}

.addEv td {
  padding: 10px;
}

.addEv td:first-child {
  font-weight: bold;
}

.addEv input[type="text"],
.addEv select,
.addEv input[type="file"] {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #f1f1f1;
  color: #000000;
}

.addEv input[type="submit"] {
  padding: 10px 20px;
  background-color: #7892b0;
  border: none;
  color: #fff;
  cursor: pointer;
}

.addEv input[type="submit"]:hover {
  background-color: #5c7996;
}

/*CONTACTO*/


.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.contact-container iframe {
  width: 60%;
  height: 400px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-info {
  margin-left: 40px;
  color: #fff;
}

.contact-info h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info p {
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 10px;
}

.contact-info p:last-child {
  margin-bottom: 0;
}

/*PREGUNTAS*/
#preguntas {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#preguntas table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

#preguntas th {
  background-color: #7892b0;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

#preguntas td {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  
}
#pre{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#res{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#preguntas tr:first-child td:first-child,
#preguntas tr:first-child th {
  background-color: #c3d9ff;
}

#preguntas td:first-child {
  text-align: left;
}
/*INDEX CONTENT*/

.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #243b55; /* Color de fondo azul oscuro */
}

.texto {
  flex: 1;
  text-align: justify;
  color: white; /* Color de texto blanco */
  padding: 20px;
}

.UPSLOGO {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2; /* Color de fondo resaltado */
}

.UPSLOGO img {
  max-width: 500px;
}

